In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('file1.txt')
type(df)

pandas.core.frame.DataFrame

# Challenge 1

Number of rows and columns

In [48]:
len(df.columns)

11

In [49]:
len(df.index) # Tambe pot fer len(df)

1071

Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

In [50]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                         int64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Anem a treure el % de CLV per convertirlo en un float

In [51]:
l = [] # CLV as a float
df['Customer Lifetime Value']
for i in range(len(df)):
    if str(df['Customer Lifetime Value'][i])== 'nan':
        l.append(0.)
    else:
        l.append(float(df['Customer Lifetime Value'][i]).replace('%',''))

df['Customer Lifetime Value'] = l
df

ValueError: could not convert string to float: '697953.59%'

In [52]:
def convert(cell):
    if str(cell) == 'nan':
        return 0
    else:
        return float(cell.replace('%',''))
    
# df['Customer Lifetime Value'].apply(convert) # .apply() IS THE BEST!!!!!!!

Convert the incomecolumn to an integrer

In [53]:
df['Income'] = df['Income'].fillna(0) # Tots els resulltat que estan buit timdran, en aquest cas el valor de 0.
df['Income'] = df['Income'].astype(int)

Columnes uniques i categoriques

In [60]:
#nunique per saber el numero, unique per saber quins son

 # df.GENDER = df.GENDER.replace('Male','M').replace('Femal','F').replace('female', 'F')  #Esta b pero no es optim

def sex(cell):
    if 'f' in str(cell).lower(): # ho posa lower pqe sempre hi hagi una f o m
        return 'F'
    elif 'm' in str(cell).lower():
        return 'M'
    else:
        return cell

df.GENDER = df.GENDER.apply(sex)

In [62]:
df.dropna(how = 'all') #eliminar as filas que en todas las columnas tienen NaNa

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [59]:

num_columns = []
cat_columns = []

for column in df.columns:
    if df[column].dtype == 'object':
        cat_columns.append(column)
    else:
        num_columns.append(column)

print("Categorical columns:")
for column in cat_columns:
    unique_values = df[column].unique()
    print(f"Column: {column}")
    print(f"Unique Values: {unique_values}")
    print()

print("Numerical columns:")
for column in num_columns:
    range_min = df[column].min()
    range_max = df[column].max()
    print(f"Column: {column}")
    print(f"Range of Values: {range_min} to {range_max}")
    print()

Categorical columns:
Column: Customer
Unique Values: ['RB50392' 'QZ44356' 'AI49188' ... 'GS98873' 'CW49887' 'MY31220']

Column: ST
Unique Values: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA']

Column: GENDER
Unique Values: [nan 'F' 'M']

Column: Education
Unique Values: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor']

Column: Customer Lifetime Value
Unique Values: [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

Column: Number of Open Complaints
Unique Values: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00']

Column: Policy Type
Unique Values: ['Personal Auto' 'Corporate Auto' 'Special Auto']

Column: Vehicle Class
Unique Values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']

Numerical columns:
Column: Income
Range of Values: 0 to 99960

Column: Monthly Premium Auto
Range of Values: 61.0 to 35354.0

Column: Total Claim Amount
Range of Values: 0.382107 to 2893.239678

In [64]:
numerical_columns = df.select_dtypes(include='number').columns

for column in numerical_columns:
    print(f"Column: {column}")
    print(df[column].describe())
    print()

Column: Income
count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: Income, dtype: float64

Column: Monthly Premium Auto
count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: Monthly Premium Auto, dtype: float64

Column: Total Claim Amount
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

Income: 
The data on income covers a wide range of values and shows a lot of differences between individual incomes. There is a notable variation among the income levels of different people. The distribution of income seems to be a bit lopsided, with most people earning less than the average income.

Montly: 
The data for monthly auto insurance premiums shows a wide range of values, meaning that there is a significant difference in the amounts people pay for their auto insurance.

Total:
The data on total claim amounts exhibits a moderate range of values, indicating some variation in the amounts claimed. The distribution of claim amounts appears to be slightly skewed to the right, meaning that there are relatively more smaller claims compared to larger ones. Most of the claim amounts are below the average or mean value.

In [65]:
df.GENDER.describe()

count     954
unique      2
top         F
freq      502
Name: GENDER, dtype: object

# Challenge 2

### Exercice 1

In [67]:
customer_locations = df['ST']
location_frequencies = customer_locations.value_counts()
sorted_locations = location_frequencies.sort_values()
top_5_less_common = sorted_locations.head(5)
print(top_5_less_common)

# MANERA MES FÀCIL I AJUNTANT
df.ST = df.ST.replace('WA', 'Washington').replace('AZ', 'Arizona').replace('Cali', 'California')
df['ST'].value_counts().nsmallest(5)

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: ST, dtype: int64

### Exercicie 2

In [163]:
claim_amount_stats = df['Total Claim Amount'].describe() # i look at the statistics of the column
claim_amount_75th_percentile = df['Total Claim Amount'].quantile(0.75) #Select the ones with 0.75 quantile
high_claim_customers = df[df['Total Claim Amount'] > claim_amount_75th_percentile] # agafo els que tingui la quantile mes gran que 0.75
high_claim_stats = high_claim_customers['Total Claim Amount'].describe() # miro les statistics dels cients

print("Total Claim Amount Statistics:")
print(claim_amount_stats)
print("High Policy Claim Amount Statistics:")
print(high_claim_stats)

Total Claim Amount Statistics:
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64
High Policy Claim Amount Statistics:
count     264.000000
mean      782.228263
std       292.751640
min       537.600000
25%       606.521741
50%       679.597985
75%       851.400000
max      2893.239678
Name: Total Claim Amount, dtype: float64

### Exercicie 3

In [69]:
# Step 1: Count the number of policies sold for each policy type
policy_counts = df['Policy Type'].value_counts()

# Step 2: Retrieve the policy type with the highest number of policies sold
policy_type_with_highest_count = policy_counts.idxmax()

# Display the policy counts and the policy type with the highest count
print("Policy Counts:")
print(policy_counts)
print()
print("Policy Type with the Highest Count:")
print(policy_type_with_highest_count)

Policy Counts:
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

Policy Type with the Highest Count:
Personal Auto

### Exercicie 4

In [70]:
# Step 1: Create DataFrames for Personal Auto and Corporate Auto policies
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto'] # No cal que posis el loc
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

# Step 2: Calculate the average income for each policy type
personal_auto_avg_income = personal_auto_df['Income'].mean()
corporate_auto_avg_income = corporate_auto_df['Income'].mean()

# Step 3: Print the results
print("Average Income for Personal Auto Policies:", personal_auto_avg_income)
print("Average Income for Corporate Auto Policies:", corporate_auto_avg_income)

Average Income for Personal Auto Policies: 38180.69871794872
Average Income for Corporate Auto Policies: 41390.31196581197